@page "/"
@using Language.Spanish;

<h1>Verb Conjugator!</h1>

<p>This component conjugates Spanish verbs.</p>


<table class="table">
	@{
		foreach (Tense tense in Enum.GetValues(typeof(Tense)))
		{
			<thead>
				<tr>
					<th colspan="2">@tense.ToString()</th>
				</tr>
			</thead>

			<tbody>
				@{
					foreach (Person person in Enum.GetValues(typeof(Person)))
					{
						<tr>
							<td>@person.ToString()</td>
							<td>@theVerb.Conjugate(tense, person)</td>
						</tr>
					}
				}
			</tbody>
		}
	}
</table>


@code {
	public Verb theVerb = new Verb("hablar");
}
